.promo {
    background-color: #2B4074;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo__content-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: #fff;
    padding-left: 150px;
    gap: 8px;
}

.promo__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
}

.promo__subtitle {
    margin: 0;
    font-size: 16;
    line-height: 1.1;
    font-weight: 300;
}

.promo__button {
    height: 50px;
    width: 200px;
    background-color: #F9F6E5;
    color:#2B4074;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-right: 150px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.promo__button:hover {
    opacity: 0.8;
}