.recents {
    background: linear-gradient(#2B4074, #f2f4f8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
}

.recents__title {
    color: #fff;
    font-size: 48px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    line-height: 1;
    margin: 24px 0;
}

.recents__line {
    background-color: #fff;
    width: 100px;
    height: 8px;
}

.recents__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
    list-style: none;
    margin-top: 80px;
}

.recents__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.recents__grid-button {
    width: 243px;
    height: 217px;
    background-color: #F9F6E5;
    opacity: 0.8;
    position: absolute;
    background-image: url('../../images/recents/search-icons.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px 32px;
    padding: 0;
    border: none;
    border-radius: 3px;
    right: 0;
    left: 0;
    top: 11px;
    margin: auto;
    display: none;
}

.recents__grid-item:hover .recents__grid-button {
    cursor: pointer;
    display: block;
}

.recents__grid-img-caption {
    color:#2B4074;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 0;
}

@media (max-width: 1200px) {
    .recents {
        max-width: 1024px;
        justify-content: flex-start;
    }
    .recents__title {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .recents__grid {
        grid-template-columns: repeat(2, 2fr);
        grid-row: auto;
        gap: 27px;
        padding: 0;
    }
}

@media (max-width: 1010px) {
    .recents {
        max-width: 770px;
    }
}

@media (max-width: 785px) {
    .recents {
        max-width: 640px;
    }
    .recents__grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .recents__grid-img-caption {
        margin-top: 20px;
        font-size: 20px;
    }
    .recents__grid-img {
        width: 518;
        height: 460px;
    }
    .recents__grid-button {
        width: 469px;
        height: 417px;
        top: 24px;
        background-size: 135px 61px;
        background-image: url('../../images/recents/search-icons-big.png');
    }
}

@media (max-width: 650px) {
    .recents {
        min-width: 320px;
    }
    .recents__title {
        font-size: 24px;
    }
    .recents__line {
        width: 50px;
    }
    .recents__grid-img {
        width: 280px;
        height: 250px;
    }
    .recents__grid-button {
        width: 253px;
        height: 226px;
        background-size: 73px 33px;
        background-image: url('../../images/recents/search-icons.png');
        top: 12px;
    }
}