.backtotop {
    width: 100%;
    height: 42px;
    background-color: #F9F6E5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #4A4A4A;
    margin: 0 auto;
}

.backtotop__button {
    background-color: transparent;
    border: none;
}

.backtotop__up {
    margin-right: 150px;
    font-size: 20px;
}

.backtotop__button:hover, .backtotop__up:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 1200px) {
    .backtotop {
        max-width: 1024px;
    }
}

@media (max-width: 1010px) {
    .backtotop {
        max-width: 770px;
    }
}

@media (max-width: 785px) {
    .backtotop {
        max-width: 640px;
    }
}

@media (max-width: 650px) {
    .backtotop {
        min-width: 320px;
        height: 142px;
        justify-content: center;
    }

    .backtotop__up {
        margin: 0;
    }
}